@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

  @theme {
  --breakpoint-3xl: 120rem;
}

header{
    @apply bg-white dark:bg-gray-800;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    @apply bg-gray-100 dark:bg-gray-900;
}

::-webkit-scrollbar-thumb {
    @apply bg-gray-500 dark:bg-gray-200;
    border-radius: 5px;
}

input[type="date"]::-webkit-calendar-picker-indicator, input[type="time"]::-webkit-calendar-picker-indicator {
	@apply dark:invert;
}

a {
    text-decoration: solid;
}

h2 {
    font-weight: bold;
}

h3 {
    font-weight: bold;
}

#map{
    @apply h-[500px]  rounded-md p-2;
}

@media screen and (min-width: 1600px) {
  #map{
    @apply h-[700px]  rounded-md p-2;
}
}

.inp {
    @apply border-gray-300 focus:border-indigo-500 focus:ring-indigo-500 rounded-md shadow-sm text-black dark:text-white bg-white dark:bg-gray-800 placeholder-gray-500 dark:placeholder:text-gray-200;
}

.submit {
    @apply px-4 py-2 mb-5 w-fit bg-gray-800 dark:bg-white border border-transparent rounded-md font-semibold text-xs text-white dark:text-black uppercase tracking-widest transition ease-in-out hover:bg-gray-700 dark:hover:bg-gray-300 hover:duration-500 focus:bg-gray-700 active:bg-gray-900 focus:outline-none focus:ring-2 focus:ring-indigo-500;
}

.edit {
    @apply px-4 py-2 mr-3 my-1 w-fit bg-blue-700 border border-transparent rounded-md font-semibold text-xs text-white uppercase tracking-widest transition ease-in-out hover:bg-blue-900 hover:duration-500 focus:bg-blue-900 active:bg-blue-900 focus:outline-none focus:ring-2 focus:ring-indigo-500;
}

.join {
    @apply px-4 py-2 mx-auto mb-3 w-fit bg-blue-700 border border-transparent rounded-md font-semibold text-xs text-white uppercase tracking-widest transition ease-in-out hover:bg-blue-900 hover:duration-500 focus:bg-blue-900 active:bg-blue-900 focus:outline-none focus:ring-2 focus:ring-indigo-500;
}

.delete {
    @apply px-4 py-2 mb-5 w-fit bg-red-600 border border-transparent rounded-md font-semibold text-xs text-white uppercase tracking-widest transition ease-in-out hover:bg-red-700 hover:duration-500 focus:bg-red-700 active:bg-red-900 focus:outline-none focus:ring-2 focus:ring-indigo-500;
}

.delete2 {
    @apply px-4 w-fit bg-red-600 border border-transparent rounded-md font-semibold text-xs text-white uppercase tracking-widest transition ease-in-out hover:bg-red-700 hover:duration-500 focus:bg-red-700 active:bg-red-900 focus:outline-none focus:ring-2 focus:ring-indigo-500;
}

.diary {
    @apply px-2 py-2 my-1 w-fit bg-blue-700 border border-transparent rounded-md font-semibold text-xs text-white uppercase tracking-widest transition ease-in-out hover:bg-blue-900 hover:duration-500 focus:bg-blue-900 active:bg-blue-900 focus:outline-none focus:ring-2 focus:ring-indigo-500 justify-self-center md:justify-self-auto;
}

.delete3 {
    @apply px-2 py-2 my-1 w-fit bg-red-600 border border-transparent rounded-md font-semibold text-xs text-white uppercase tracking-widest transition ease-in-out hover:bg-red-600 hover:duration-500 focus:bg-red-700 active:bg-red-900 focus:outline-none focus:ring-2 focus:ring-indigo-500 justify-self-center md:justify-self-auto;
}

.plannerbutton {
    @apply px-4 py-2 mb-5 bg-blue-800 border border-transparent rounded-md font-semibold text-white uppercase tracking-widest transition ease-in-out hover:bg-blue-700 hover:duration-500 focus:bg-blue-700 active:bg-blue-900 focus:outline-none focus:ring-2 focus:ring-indigo-500;
}

.gpx {
    @apply px-4 py-2 w-fit bg-blue-700 border border-transparent rounded-md font-semibold text-xs text-white uppercase tracking-widest transition ease-in-out hover:bg-blue-900 hover:duration-500 focus:bg-blue-900 active:bg-blue-900 focus:outline-none focus:ring-2 focus:ring-indigo-500;
}

#progressbar {
    background-color: rgb(15, 109, 210);
    border-radius: 13px;
    padding: 3px;
    width: 100%;
    height: 20px;
}

.noto-serif-600{
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }