@tailwind base;
@tailwind components;
@tailwind utilities;

a{
    text-decoration: solid;
}

h3{
    font-weight: bold;
}

#delete{
    background-color: red;
}

.editbutton{
    background-color: rgb(12, 171, 12);
    color: white;
    padding: 6px;
}

.editbutton:hover{
    background-color: rgb(22, 221, 22);
    transition: 1s;
}